@import 'compass/css3';
@import 'mixin/flexbox';

.comp-fileupload {
    @include flexbox;
    @include justify-content(center);

    .drag-area {
        @include flex(1);

        height: 300px;
        margin: 100px 50px;
        border: 1px solid #ccc;
        @include box-sizing(border-content);
        @include border-radius(5px);
        @include box-shadow(inset 0 0 6px 1px #eee);

        &.enter {
            border-color: green;
        }
    }
}
