@import 'mixin/flexbox';
@import 'ui/icon';


.article {
    width: 100%;
    padding: 0 10% 20px 10%;
    box-sizing: border-box;

    .column {
        @include flexbox;
        
        > div {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    // 标签的padding
    %icon-padding {
        padding: 2px 6px;
    }

    .header-div-date {
        @extend %date;
        // 这里是为了和带空白的icon对齐
        @extend %icon-padding;
    }

    .header-btn-edit {
        @extend %edit;
        // hover态撑起周围的空白
        @extend %icon-padding;
    }
}
