@import 'global';
@import 'compass/css3';
@import 'mixin/flexbox';

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-pc-w;
    height: 100%;
    @include box-shadow(1px 0 4px 1px #ccc);

    @media screen and (max-width: #{$breakpoint-phone}) {
        width: $sidebar-phone-w;
        left: -$sidebar-phone-w;
    }

    .avatar,
    .nav {
        position: relative;
        z-index: 100;
    }

    .avatar {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bg.jpeg) no-repeat;
        background-size: cover;
        -webkit-filter: blur(1px);
        z-index: 1;
    }
}
