@import 'global';
@import 'compass/css3';
@import 'mixin/flexbox';

.nav {
    @include flexbox;
    @include flex-flow(column nowrap);
    @include align-items(center);

    .item {
        width: 82px;
        margin-bottom: 30px;
        font: 700 16px/20px normal;
        color: #fff;
        text-decoration: none;
        @include transition(transform .5s ease);

        &:hover {
            @include transform(translate3d(10px, 0, 0));
        }

        i {
            font-size: 20px;
            margin-right: 10px;
        }

        @media screen and (max-width: #{$breakpoint-phone}) {
            text-align: center;

            span {
                display: none;
            }
        }
    }
}
