@import 'global';
@import 'compass/css3';
@import 'mixin/flexbox';

.nav {
    @include flexbox;
    @include flex-flow(column nowrap);
    @include align-items(center);

    .item {
        @include flexbox;
        width: 90px;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        text-decoration: none;
        @include transition(transform .5s ease);

        &:hover {
            @include transform(translate3d(10px, 0, 0));
        }

        > i {
            @include flex(1);
            font-size: 20px;
            margin-right: 10px;
        }

        .nav-title {
            @include flex(2);
        }

        @media screen and (max-width: #{$breakpoint-phone}) {
            text-align: center;

            span {
                display: none;
            }
        }
    }
}
