@import 'global';
@import 'compass/css3';
@import 'mixin/flexbox';

.list-item {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    .title {
        max-height: 128px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info-bar {
        margin-bottom: 24px;
        font-size: 14px;
        line-height: 20px;
        color: #9eabb3;

        .time {
            margin-left: 5px;
            margin-right: 20px;
        }
    }

    .tags {
        $tag-color: #ccc;
        $border-color: #666;

        margin-top: 5px;

        .tag {
            float: left;
            padding: 2px 3px;
            margin-right: 10px;
            color: $tag-color;
            border: 1px solid $border-color;
            border-radius: 5px;
        }
    }

    .abs {
        font-size: 20px;
        line-height: 28px;
        color: #666;
        margin-bottom: 10px;
    }

    .access-bar {
        @include flexbox;
        @include justify-content(flex-end);

        a {
            padding: 4px 8px;
            color: $blue;
            text-decoration: none;

            &:hover,
            &:active {
                color: #fff;
                background-color: $blue;
                @include border-radius(20px);
            }
        }
    }
}

