@import 'global';

$img-h: 100px;

.avatar {
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        max-width: $img-h;
        border-radius: 20%;

        @media screen and (max-width: #{$breakpoint-phone}) {
            max-width: 50px;
        }
    }

    p {
        font: 700 16px normal;
        color: #fff;
        text-align: center;
    }
}
