@import 'global';
@import 'compass/css3/border-radius';
// 统一的字体和颜色
$fs: 14px;
$fc-readonly: #9eabb3;
$fc-clickable: $blue;
// 按钮的水平填充，有一些按钮hover时有背景色，每个按钮都加上填充能保证对齐
$padding-horizon: 6px;

%ui {
    padding-left: $padding-horizon;
    padding-right: $padding-horizon;
}
