@import 'global';
@import 'compass/css3/border-radius';
// 统一的字体和颜色
$fs: 14px;
$fc-readonly: #9eabb3;
$fc-clickable: $blue;

/**
 * 日期icon
 */
%date {
    font-size: $fs;
    color: $fc-readonly;

    > i {
        margin-right: 5px;
    }
}

/**
 * 编辑icon
 */
%edit {
    font-size: $fs;
    color: $fc-clickable;

    > i {
        margin-right: 5px;
    }

    &:hover {
        color: #fff;
        background-color: $fc-clickable;
        @include border-radius(5px);
        cursor: pointer;
    }
}
