@import 'compass/css3';
@import 'mixin/flexbox';

.view {
    padding: 10px 10%;

    .column {
        @include flexbox;
        
        > div {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
