@import 'global';

$img-h: 120px;

.avatar {
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        max-width: $img-h;
        border-radius: 50%;
    }

    p {
        font: 700 16px normal;
        color: #fff;
        text-align: center;
    }
}
