@import 'global';
@import 'mixin/flexbox';

html, body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;

    .body {
        margin-left: $sidebar-pc-w;

        @media screen and (max-width: $breakpoint-phone) {
            margin-left: 0;
        }
    }
}

