@import 'compass/compass/typography';

.list-item {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    &:first-child .title {
        margin-top: 0;
    }

    .title {
        margin-bottom: 10px;

    }

    .info-bar {
        font: 500 14px/20px normal;
        color: #333;

        .time {
            margin-right: 20px;
        }
    }

    .tags {
        $tag-color: #ccc;
        $border-color: #666;

        @include clearfix;

        margin-top: 5px;

        .tag {
            float: left;
            padding: 2px 3px;
            margin-right: 10px;
            color: $tag-color;
            border: 1px solid $border-color;
            border-radius: 5px;
        }
    }

    .abs {
        font: 500 20px/28px normal;
        color: #666;
        margin-bottom: 10px;
    }

    a {
        @include hover-link;
    }
}

