@import 'global';
@import 'flexbox';
@import 'avatar';
@import 'navbar';
 
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 1px 0 4px 1px #ccc;

    .avatar,
    .nav {
        position: relative;
        z-index: 100;
    }

    .avatar {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/bg.jpeg) no-repeat;
        background-size: cover;
        -webkit-filter: blur(1px);
        z-index: 1;
    }
}
